<% @page_title = "SPDX Documents" %>
<h1><%= @page_title %> (<%= @spdx_docs.count %>)</h1>
<%= render partial: "spdx_table", locals: {spdx_docs: @spdx_docs} %>

<%= render partial: "doc_select_box" %>