// Place all the styles related to the spdx_docs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-search { 
  input { width: 175px !important; }

  margin: 0px; 
}

tr {
  .tr-title { 
    background-color: rgb(249, 249, 249);
  }
}

#new_comment {
  textarea { width: 100%; }
}

table.table-spdx {
  td { 
    vertical-align: middle;
    text-align: center;
  }

  td.td-main {
    font-size: 1.7em;
  }

  td.controls {
    width: 20%;
  }
}