<table class="table table-bordered table-striped table-hover">
  <tr>
    <th>File name</th>
    <th>Date uploaded</th>
    <th></th>
    <th></th>
  </tr>

  <% spdx_docs.each do |spdx_doc| %>
    <tr>
      <td><%= link_to spdx_doc.name, spdx_doc %></td>
      <td><%= friendly_date(spdx_doc.created_at) %></td>
      <td><%= link_to 'View', spdx_doc %></td>
      <td><%= link_to 'Download', spdx_doc.upload.url %></td>
    </tr>
  <% end %>
</table>